.workshops {
  display: flex;
  flex-wrap: wrap;
}
.workshops > .workshop {
  flex: 0 0 28%;
  margin: 0 2.5% 50px;
  position: relative;
}
.workshops > .workshop > .workshop-title {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.workshops > .workshop > .workshop-image {
  width: 100%;
  height: 200px;
  background: #eee;
  border: 0;
}
.workshops > .workshop > .workshop-description {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(255,255,255,0.8);
  padding: 5px 10px;
  font-size: 14px;
}
.workshops > .workshop > .workshop-navs {
  margin: 5px 0 0;
}
.workshops > .workshop > .workshop-navs > button {
  background: #8C6450;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  outline: 0;
  border: 0;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}
.workshops > .workshop > .workshop-navs > button:first-child {
  background: #00A5BF;
  float: left;
}
.workshops > .workshop > .workshop-navs > button:last-child {
  float: right;
}
