@import "top.less";

.clearfix() {
  zoom: 1;

  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

html {
}

body {
  background: white;
  color: #333;
}

a {
  color: #4183c4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

td, th {
  border: 1px solid #666;
  padding: 5px 10px;
}

.header-nav-color(@color) {
  border-color: @color;
  &:hover {
    background: @color;
  }
}
#header {
  text-align: center;
  border-bottom: 1px solid #ddd;

  #header-title {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 18px;
  }
  #header-nav {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline-block;
        a {
          font-size: 13px;
          font-weight: bold;
          display: inline-block;
          padding: 20px 5px 15px 5px;
          border-bottom-width: 5px;
          border-bottom-style: solid;
          min-width: 100px;
          color: black;
          &:hover {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .header-nav-home {
      .header-nav-color(#DC4480);
    }
    .header-nav-about {
      .header-nav-color(#FF8500);
    }
    .header-nav-members {
      .header-nav-color(#9ADA00);
    }
    .header-nav-outline {
      .header-nav-color(#00BDED);
    }
    .header-nav-activity {
      .header-nav-color(#1A477C);
    }
  }
}

#content {
  padding: 20px 40px;
}

#footer {
  background-color: #9F9F9F;
  padding: 20px 30px;
  font-size: 14px;

  p {
    margin: 5px 0;
  }
}


.page-header {
  position: relative;
  margin: 20px 0 40px 0;

  h2 {
    width: 750px;
    margin: 0;
  }
  time {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.page-body {
  img {
    max-width: 100%;
  }
  .gallery {
    img {
      height: 150px;
      width: auto;
    }
  }
}

.posts {
  padding: 0;

  .post {
    .clearfix();
    list-style-type: none;
    margin: 10px 0;

    .post-category {
      float: left;
      width: 100px;
      height: 30px;
      margin: 0;
    }
    .post-info {
      float: left;
      width: 760px;
      margin: 5px 0 0 10px;
      font-size: 14px;

      a {
        padding: 0 5px 0 0;
      }
    }
  }
}
