@import "top.less";

.clearfix() {
  zoom: 1;

  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

html {
  background-image: url("/images/background.png");
}

body {
  width: 1000px;
  margin: 0 auto;
  background: white;
}

#header {
  .clearfix();

  #header-title {
    float: left;
    margin: 0;
  }
  #header-nav {
    float: right;

    ul {
      .clearfix;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        float: left;
        padding: 0;
      }
    }
  }
}

#content {
}

#footer {
  background-color: #9F9F9F;
  padding: 20px 30px;
  font-size: 14px;

  p {
    margin: 5px 0;
  }
}

.gallery img {
	height: 150px;
	width: auto;
}

.post-date {
	font-size: 15px;
}