#top-content {
}

#about {
  text-align: center;
  margin: 20px 0;
  img {
    width: 100%;
  }
}

.top-section {
  margin: 40px 0 30px 0;

  .section-title {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    margin: 10px 0;
    box-shadow: 2px 2px 4px #ccc;
  }
  .section-content {
    padding: 10px 0 0 40px;
    margin: 0;
  }
}

#event-section {
  .section-title {
    border-left: #DC4480 10px solid;
  }
  li {
    font-size: 14px;
    margin: 5px 0;
  }
}
#news-section {
  .section-title {
    border-left: #FF8500 10px solid;
  }
}
#link-section {
  .section-title {
    border-left: #00BDED 10px solid;
  }
  #links {
    list-style-position: inside;
    li {
      font-size: 14px;
      margin: 5px 0;
    }
  }
}
#facebook-section {
  .section-title {
    border-left: #9ADA00 10px solid;
  }
}
