#about {
  text-align: center;
  margin: 20px 0;
}

.top-section {
  .section-title {
    height: 37px;
    width: 950px;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0 0 50px;
    background-repeat: no-repeat;
  }
}
#news-section {
  .section-title {
    background-image: url('/images/bar-1.png');
  }
  #news {
    padding: 0 40px;

    li {
      .clearfix();
      list-style-type: none;
      margin: 10px 0;

      .news-category {
        float: left;
        width: 100px;
        height: 30px;
        margin: 0;
      }
      .news-info {
        float: left;
        width: 800px;
        margin: 5px 0 0 10px;
        font-size: 14px;
      }
    }
  }
}
#link-section {
  .section-title {
    background-image: url('/images/bar-2.png');
  }
  #links {
    margin: 0 0 0 40px;
  }
}
#facebook-section {
  .section-title {
    background-image: url('/images/bar-3.png');
  }
}