<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="kyokuri.org : " />

		<link rel="stylesheet" href="/stylesheets/normalize.css" />
		<link rel="stylesheet" href="/stylesheets/common.less.css" />
		<script src="/javascripts/main.js"></script>

		<title>{{ page.title }} - {{ site.name }}</title>
	</head>

	<body>

		<header id="header">
			<h1 id="header-title">
				<a href="/"><img src="/images/logo.png" alt=""></a>
			</h1>
			<nav id="header-nav">
				<ul>
					<li><a href="/"><img src="/images/nav-home.png" alt=""></a></li>
					<li><a href="/about.html"><img src="/images/nav-about.png" alt=""></a></li>
					<li><a href="/members.html"><img src="/images/nav-members.png" alt=""></a></li>
					<li><a href="/outline.html"><img src="/images/nav-outline.png" alt=""></a></li>
					<li><a href="/activity.html"><img src="/images/nav-activity.png" alt=""></a></li>
				</ul>
			</nav>
		</header>

		<section id="content">
			{{ content }}
		</section>

		<footer id="footer">
			<p class="copyright">kyokuri.org maintained by <a href="https://github.com/kyokuri">kyokuri</a></p>
			<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
		</footer>
	</body>
</html>