<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="kyokuri.org : " />

		<link rel="stylesheet" href="/stylesheets/normalize.css" />
		<link rel="stylesheet" href="/stylesheets/common.less.css" />
		<script src="/javascripts/main.js"></script>

		<title>{{ page.title }} - {{ site.name }}</title>
	</head>

	<body>

		<header id="header-wrapper">
			<div id="header">
				<h1 id="header-title">
					<a href="/">
						<img src="/images/kyokuri.png">
						<span>Kyoto<br>Creative Workshop</span>
					</a>
				</h1>
				<nav id="header-nav">
					<ul>
						<li><a href="/" class="header-nav-home">ホーム</a></li>
						<li><a href="/about.html" class="header-nav-about">きょーくりって？</a></li>
						<li><a href="/members.html" class="header-nav-members">メンバー</a></li>
						<li><a href="/outline.html" class="header-nav-outline">きょーくりっ概要</a></li>
						<li><a href="/activity.html" class="header-nav-activity">活動について</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section id="content">
			{{ content }}
		</section>

		<footer id="footer">
			<p class="copyright">kyokuri.org maintained by <a href="https://github.com/kyokuri">kyokuri</a></p>
			<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
		</footer>
	</body>
</html>
