.main-title {
  text-align: center;
  margin: 100px 0;
}

.teaching-materials-container .contents-section {
  border-bottom: 1px solid #ddd;
  margin: 0 0 50px 0;
  padding: 0 0 50px 0;
}
.teaching-materials-container .contents-section:last-child {
  border-bottom: 0;
}
.contents-section .seciton-title {
  margin: 40px 0;
}

.workshops {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.workshops-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.workshop {
  flex: 1 1;
  margin: 0 20px 80px;
}
.workshop-inner {
  width: 260px;
}
.workshop .workshop-title {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.workshop .workshop-description {
  position: relative;
  height: 260px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.workshop .workshop-description .workshop-image {
  width: 260px;
  height: 260px;
  background: #eee;
  border: 0;
}
.workshop .workshop-description .workshop-description-text {
  position: absolute;
  bottom: -80px;
  transition: bottom 0.1s linear;
  left: 0;
  right: 0;
  height: 80px;
  background: rgba(255,255,255,0.8);
  padding: 5px 10px;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
}
.workshop .workshop-description:hover .workshop-description-text {
  bottom: 0;
}
.workshop .workshop-navs {
  margin: 20px 0 0;
}
.workshop .workshop-navs button {
  background: #8C6450;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  outline: 0;
  border: 0;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}
.workshop .workshop-navs button:first-child {
  background: #00A5BF;
  float: left;
}
.workshop .workshop-navs button:last-child {
  float: right;
}
